@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400&display=swap');
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    font-size: 1.6rem;
    font-family: 'Noto Serif Display', serif;
    color: #222222;
}
/* Main menu */

header {
    height: 7rem;
    background: #FFFAFA;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.main-menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.container-menu-logo {
    display: none;
    font-size: 3rem;
}

ul, li {
    display: flex;
    list-style-type: none;
}
li {
    margin-inline: 3rem;
}

.header-link {
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.header-logo-title {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}

.show {
    display: flex;
    flex-flow: column wrap;
}

.hide {
    display: none;
}

* a {
    text-decoration: none;
    color: #2f2e2e;
}

/* Main container/ Article container */

main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 5rem;
    align-content: space-between;
    justify-content: space-around;
}

.article-container {
    width: 55%;
    background: #FFFAFA;
    height: 60rem;
    padding: 3rem;

}

#container-message {
    height: 40rem;
    overflow: auto;
}

/* Forms */

.form-container {
    min-width: 70%;
    background: #FFFAFA;
    padding: 2rem;
    min-height: 40rem;
}


label, input {
    display: block;
    margin-top: 1rem;
}

.form-button, #send-button {
    width: 65%;
    background: #F5F5F5;
    color: #2f2e2e;
    border: none;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 20rem;
}

#send-button {
    margin-top: 2rem;
}

#message-content {
    width: 75%;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid black;

}

h2 {
    border-bottom: 1px solid black;
}

.message {
    border-bottom: 1px solid black;
}

.user {
    color: #f88b8b;
}

/* container for success/error message */
.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 7rem;
    width: 100%;
    color: honeydew;
    font-size: 2rem;
}

.error {
    background: indianred;
}

.success {
    background: mediumseagreen;
}

/* Footer */
footer {
    width: 100%;
    height: 5rem;
    background: #FFFAFA;
    margin-top: 15rem;

}

/* Responsive */

@media screen and (max-width: 1000px) {
    main {
        flex-flow: column wrap;
    }

    .article-container {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {


    main {
        padding: 1rem;
    }


    .main-menu {
        justify-content: inherit;
        width: 100%
    }

    .header-logo-title {
        width: 100%;
        display: flex;
        justify-content: inherit;
        margin-left: 1rem;
    }

    .container-menu-logo + h1 {
        margin-left: 20rem;
    }


    #content {
        width: 100%;
    }

    .container-menu-logo {
        display: flex;
    }

    ul {
        display: none;
    }

    header {
        min-height: 7rem;
        height: auto;
    }

}
